
@{
    ViewData["Title"] = "Informes";
    ViewData["Subtitle"] = "Asociaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Hidden("code", "")

<div class="row mt-4">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center text-uppercase">Informe de asociaciones</h3>
                <div id="gridContainerAsoc" class="row-lm aux-selection">
                </div>
            </div>
            <div class="card-footer text-center">
                <p class="font-weight-light mb-0 small">
                    Actualizado el <i>@ViewBag.DataTimeAssoc</i>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/moment.js"></script>
    <script>
        var myShowDni = true;
    </script>
    <script type="text/javascript" src="~/js/tables/AlertScript.js"></script>
    <script type="text/javascript" src="~/js/tables/AsociacionListadoScript.js"></script>
}