
codigo fuente/App consulta/bin/Debug/
codigo fuente/App consulta/bin/Release/
codigo fuente/App consulta/obj/Debug/
codigo fuente/App consulta/obj/Release/
codigo fuente/.vs/
codigo fuente/App consulta/Storage/Logs.txt
codigo fuente/App consulta/Storage/data.json
