@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-4">
    <h1 class="display-4">Bienvenido</h1>
    <p>Acuerdo AUNAP - PNUD 2021</p>
    <hr />
    <div class="row">
        <div class="col col-xs-12  offset-md-2 col-md-4">
            <img src="~/images/aunap.png"  style="max-height: 260px;"/>
        </div>
        <div class="col col-xs-12 col-md-4  ">
            <img src="~/images/pnud-logo-30.svg" style="max-height: 260px;"/>
        </div>
    </div>
    
    
</div>
